/* @media (min-width:1400px) and (max-width:1600px){
	.head_top div#myNavbar {
	    float: right;
	 
	}

	.head_top .navbar.navbar-defult ul li a {
	    padding: 15px 13px 35px;
	    font-size: 13px;
	}

	.call-action span {
	    font-size: 14px;
	}

} */


/* @media (max-width:1650px){
	.main-slide-bx {
    	padding: 2vw 0vw;
 }
	.main-slide-bx .formheading h2{
    font-size: 24px;
	}
	.bnr-form-slider {
    width: 100%;
 }
 .main-slide-bx h2 {
    font-size: 40px;
	}
	.main-slide-bx .formheading h2{
    font-size: 20px;
	}
	.bnr-form-slider {
    width: 100%;
    top: 0;
    right: 10%;
    bottom: 0;
    margin: auto;
}
} */
/* @media (max-width:1450px){
	.main-slide-bx {
    	padding: 2vw 0vw;
 }
} */
@media (min-width:1200px) and (max-width:1400px){
	/* body {
		overflow-x: hidden;
	} */
	.our_work_sec {
		padding: 0 0 54px;
	}
	/* .cl-logo-sec {
		padding: 0 0;
		background: #fff;
	} */
	/* .cta-sec-new {
		padding: 42px 0 64px 0;
		background: #32302e;
	}
	.head_top div#myNavbar {
		float: right;
		margin: 0 0 0 0;
	}
	.head_top {
	    padding: 16px 0 0px;
	}
	.head_top .navbar.navbar-defult ul li a {
	    padding: 15px 7px 27px;
	    font-size: 11px !important;
	} */
	/* .bnr-form-slider {
    width: 100%;
    top: 0;
    right: 10%;
    bottom: 0;
    margin: auto;
}
.call-action {
    padding-right: 0 !important;}

	.logo {
	    width: 130px;
	    margin: -25px 0 0 25px;
	}

	.call-action span {
	    padding-right: 17px;
	    color: #fff;
	    font-size: 12px;
	    display: inline-block;
	    vertical-align: top;
	    line-height: normal;
	}
	.why_choose_boxes:before {
    right: 0;
	}
	.intro-sec-img img {
    width: 115%;
	} */

	/* .intro-about {
	    overflow: hidden;
	}
	section#pro-sec .process-main-col .col-sm-2 {
    max-width: 20%;
    flex: 0 0 20%;
	}
	.process-box h4 {
    font-size: 14px;
    padding-bottom: 0;
	}
	.footer-sec {
    overflow: hidden;
	}
	.main-slide-bx h2 {
    font-size: 40px;
	}
	.main-slide-bx .formheading h2{
    font-size: 20px;
	}
	.serv-div-box h4 {
    font-size: 14px;
	} */
}

@media (min-width: 992px) and (max-width: 1180px){
	body {
		overflow-x: hidden;
	}
	.footer-top h2 {
		font-size: 32px;
	}
		
	.footer-top {
		width: 70%;
	}
	.our-services {
		position: relative;
		background-color: #fff;
		background-image: url(../images/serv-hme-pg.png);
		/* padding: 38px 0 81px 50px; */
	}
	.our-services {
		padding: 0px 0 0px 0px;
	
	}
	.bnr-btn a{
		font-size: 18px;
		padding: 12px 35px;
	}
	.head_top .navbar.navbar-defult ul li a {
		color: #fff;
	}


	.head_top .navbar.navbar-defult .col-sm-2, .head_top .navbar.navbar-defult .col-sm-10 {
    width: 100%;
}
/* width */
.head_top ul.dropdown-menu11::-webkit-scrollbar, .head_top ul.dropdown-menu22::-webkit-scrollbar  {
  width: 8px;
}

/* Track */
.head_top ul.dropdown-menu11::-webkit-scrollbar-track, .head_top ul.dropdown-menu22::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.head_top ul.dropdown-menu11::-webkit-scrollbar-thumb, .head_top ul.dropdown-menu22::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient( 0deg, rgb(221,143,72) 0%, rgb(243,210,138) 100%); 
  border-radius: 10px;
}
.head_top ul.dropdown-menu11:hover ::-webkit-scrollbar-thumb, .head_top ul.dropdown-menu22:hover ::-webkit-scrollbar-thumb {
	background:rgb(31, 24, 65);
}
/* Handle on hover */
.head_top ul.dropdown-menu11::-webkit-scrollbar-thumb:hover, .head_top ul.dropdown-menu22::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.head_top ul.dropdown-menu11 li, .head_top ul.dropdown-menu22 li {
	    width: 100%;
	    float: left;
	    border-bottom: 0px solid #fff;
	    padding: 4px 0;
	    text-align: center;
	    padding: 5px 0 4px 0px;
	}
	.head_top ul.dropdown-menu11, .head_top ul.dropdown-menu22 {
    background: transparent;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

	.active_drop {
	    display: block !important;
	}


.head_top div#myNavbar {
    width: 100%;
    padding: 10px 0 15px 0;
    border: 0;
    box-shadow: none;
    background: #0a0a0ade;
    margin-top: 20px;
}

.head_top {
    padding: 20px 0px;
    background: transparent;
}

button.navbar-toggle span {
    background: #fff;
}

	 .navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin: 7.5px -15px;
	}

	.navbar-nav>li {
		float: none;
		width: 90%;
		text-align: center;
		margin: 0 auto;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar-text {
		float: none;
		margin: 15px 0;
	}

	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.collapsing {
		overflow: hidden !important;
	}

	button.navbar-toggle {
		background: -webkit-linear-gradient( 0deg, rgb(221,143,72) 0%, rgb(243,210,138) 100%);
	}

	.navbar-toggle .icon-bar {
		background: #ffffff;
	}


	.seller-img-bf::before {
    left: -20px;
	}

	.hd-txt h2 {
	    font-size: 30px;
	}

	.process-bx h4 {
	    font-size: 12px;
	}

	.process-bx {
	    padding: 20px 10px;
	}

	.testi-div {
	    padding: 20px 10px;
	}

	.testi-div p {
	}

	.testi-img h4 {
	    font-size: 18px;
	}

	.ftr-cta-txt h2 {
	    font-size: 30px;
	}

	.get-btn.chatt {
	    margin-right: 0;
	}
	.footer-sec {
    padding: 105px 30px 70px;
	}
	.footer-sec a {
    font-size: 11px;
	}

	.ftr-2 li {
        width: 100%;
        padding-bottom: 0;
        text-align: left;
    }
    .ftr-3 li {
        line-height: 18px;
        padding-bottom: 7px;
        width: 100%;
        text-align: left;
    }
    .ftr-2 p {
        text-align: left;
    }
    .ftr-3 p {
        text-align: left;
    }
    .ftr-2 li {
        width: 100%;
    }
    .ftr-2 li {
        width: 100% !important;
    }
    .ftr-2 p {
        padding-left: 0 !important;
    }
    .ftr-3 p {
        padding-left: 0 !important;
        padding-top: 10px;
    }
    /* .widget2 {
        border-bottom: 1px solid #ebd4c3;
        padding-bottom: 2px;
    } */
    /* .widget2 p::after {
        font-family: 'FontAwesome';
        font-weight: 900;
        content: '\f077';
        position: absolute;
        font-size: 15px;
        right: 30px;
    }
    .widget2 p:active:after {
        content: '\f078';
    } */


}


@media (min-width: 768px) and (max-width: 991px){
	body {
		overflow-x: hidden;
	}
	.head_top .navbar.navbar-defult ul li a {
		color: #fff;
	}
	.main-banner-sec {
		padding: 60px 0 0 0;
	}
	.main-slide-bx h1 {
		font-size: 58px;
		text-align: center;
	}
	.bnr-btn {
		clear: both;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.intro-sec-img.seller-img-bf img {
		padding-top: 6px;
	}
	.seller-img-bf {
		left: auto;
	}
	.intro-about {
		padding: 20px 0 0;
		margin: 0;
		position: relative;
		z-index: 1;
		background-color: #fff;
	}
	.our-services {
		padding: 0 0 50px 0px;
	}
	.cta-new-sec p {
		padding-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.get-btn.open-popup {
		padding: 20px 30px;
	}
	.cta-new-sec {
		margin-bottom: 20px;
	}
	.our_work_sec {
		padding: 0px 0 48px;
	}
	.our-services .hd-txt h2 {
		padding-top: 30px;
	}
	.hd-txt h2 {
		text-align: left;
		margin-bottom: 20px;
		padding-top: 20px;
	}
	.footer-top {
		width: 90%;
	}
	.ftr-2 li {
        width: 100%;
        padding-bottom: 0;
        text-align: left;
    }
    .ftr-3 li {
        line-height: 18px;
        padding-bottom: 7px;
        width: 100%;
        text-align: left;
    }
    .ftr-2 p {
        text-align: left;
    }
    .ftr-3 p {
        text-align: left;
    }
    .ftr-2 li {
        width: 100%;
    }
    .ftr-2 li {
        width: 100% !important;
    }
    .ftr-2 p {
        padding-left: 0 !important;
    }
    .ftr-3 p {
        padding-left: 0 !important;
        padding-top: 10px;
    }
    .widget2 {
        border-bottom: 1px solid #ebd4c3;
        padding-bottom: 2px;
    }
    .widget2 p::after {
        font-family: 'FontAwesome';
        font-weight: 900;
        content: '\f077';
        position: absolute;
        font-size: 15px;
        right: 30px;
    }
    .widget2 p:active:after {
        content: '\f078';
    }
	.tel-em {
		padding: 25px 0;
	}
	.testimonial-sec .hd-txt h2 {
		text-align: center;
		padding-top: 20px;
	}
	.cl-logo-sec {
		padding: 25px 0;
		background: #fff;
	}
	.footer-top h2 {
		font-size: 34px;
	}
	.ftr-contact {
		padding-left: 0px;
		margin-left: 15px;
	}










	.head_top .navbar.navbar-defult .col-sm-2, .head_top .navbar.navbar-defult .col-sm-10 {
    width: 100%;
}
.footer-sec .col-sm-3, .footer-sec .col-sm-4, .footer-sec .col-sm-2 {
    width: 50%;
    margin-top: 20px;
}
.new-pr-bx-tb {
    width: 49%;
    padding: 15px;
}
.price-box-new .bnr-btn a {
    padding: 12px 20px;
    font-size: 16px;
}

.form-page-main-div {
    flex-direction: column;
}

.form-page-main-div .col-sm-6 {
    width: 100%;
}

.testi-div {
    padding: 20px 10px;
}

.testi-div h4 {
    font-size: 16px;
}

.testi-div p {
    min-height: 230px;
}
.footer-sec .row {
}

.footer-sec {
    padding: 105px 0px 20px;
}

.footer-sec a, .footer-sec p {
    font-size: 12px;
}
/* width */
.head_top ul.dropdown-menu11::-webkit-scrollbar, .head_top ul.dropdown-menu22::-webkit-scrollbar  {
  width: 8px;
}

/* Track */
.head_top ul.dropdown-menu11::-webkit-scrollbar-track, .head_top ul.dropdown-menu22::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.head_top ul.dropdown-menu11::-webkit-scrollbar-thumb, .head_top ul.dropdown-menu22::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient( 0deg, rgb(221,143,72) 0%, rgb(243,210,138) 100%); 
  border-radius: 10px;
}
.head_top ul.dropdown-menu11:hover ::-webkit-scrollbar-thumb, .head_top ul.dropdown-menu22:hover ::-webkit-scrollbar-thumb {
	background:rgb(31, 24, 65);
}
/* Handle on hover */
.head_top ul.dropdown-menu11::-webkit-scrollbar-thumb:hover, .head_top ul.dropdown-menu22::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.head_top ul.dropdown-menu11 li, .head_top ul.dropdown-menu22 li {
	    width: 100%;
	    float: left;
	    border-bottom: 0px solid #fff;
	    padding: 4px 0;
	    text-align: center;
	    padding: 5px 0 4px 0px;
	}
	.head_top ul.dropdown-menu11, .head_top ul.dropdown-menu22 {
    background: transparent;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

	.active_drop {
	    display: block !important;
	}


.head_top div#myNavbar {
    width: 100%;
    padding: 10px 0 15px 0;
    border: 0;
    box-shadow: none;
    background: #0a0a0ade;
    margin-top: 20px;
}

.head_top {
    padding: 20px 0px;
    background: transparent;
}


button.navbar-toggle span {
    background: #fff;
}

.main-banner-sec .col-sm-12 {
    flex-direction: column;
}

.main-banner-sec .col-sm-7, .main-banner-sec .col-sm-5 {
    max-width: 100%;
    width: 100%;
}

.main-slide-bx h2 {
    text-align: center;
}

.main-slide-bx h4 {
    text-align: center;
}

.bnr-btn {justify-content: center;}

.bnr-tb-icon img {
    margin: 0 auto;
    margin-bottom: 50px;
}

.bnr-form-slider {
    width: 70%;
}

.bnr-form-slider::before {
    width: 70%;
}

.intro-about .row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.intro-about .row .col-sm-6 {
    max-width: 100%;
    width: 100%;
}

.intro-about .hd-txt {margin-top: 40px;text-align: center;}

.intro-about .hd-txt h2 {
    text-align: center;
	padding-top: 7px;
}

.numb-ex {
    margin: 0 auto;
}

.services-slider .col-sm-3 {
    width: 50%;
}

.serv-bx-st {
    height: 300px;
}

.cta-new-sec h2 {
    font-size: 40px;
}

.cta-sec-vid {
    margin-bottom: 0px;
	padding-top: 35px;
	padding-bottom: 100px;
}

.rating-list li {
    width: 25%;
}

.about-col-div-hme {
    flex-direction: column;
}

.about-col-div-hme .col-sm-6 {
    width: 100%;
}

.about-img-div img {
    width: 70%;
    margin: 0 auto;
    display: table;
}

.about-txt.hd-txt {
    text-align: center;
}

.about-txt.hd-txt h2 {
    text-align: center;
    margin-top: 40px;
}

.process-ul ul li {width: 30%;margin-top: 15px;}

.process-ul ul {
    flex-wrap: wrap;
    justify-content: center;
}

.ftr-cta-txt {
    width: 100%;
}

.ftr-cta-txt h2 {
    font-size: 28px;
}

.ftr-cta-txt h4 {
    font-size: 22px;
}
.services-slider .col-sm-offset-1.col-sm-3 {
    margin-left: 0;
}

.services-slider .col-sm-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
	 .navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin: 7.5px -15px;
	}

	.navbar-nav>li {
		float: none;
		width: 90%;
		text-align: center;
		margin: 0 auto;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.navbar-text {
		float: none;
		margin: 15px 0;
	}

	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.collapsing {
		overflow: hidden !important;
	}

	button.navbar-toggle {
		background: -webkit-linear-gradient( 0deg, rgb(221,143,72) 0%, rgb(243,210,138) 100%);
	}

	.navbar-toggle .icon-bar {
		background: #ffffff;
	}

}

@media (min-width:315px) and (max-width:767px){
	body {
		overflow-x: hidden;
	}
	.ftr-contact {
		padding-left: 0px !important;
		margin-left: 15px;
		margin-right: 15px;
	}
	
    .ftr-2 li {
        width: 100%;
        padding-bottom: 0;
        text-align: left;
    }
    .ftr-3 li {
        line-height: 0;
        padding-bottom: 7px;
        width: 100%;
        text-align: left;
		line-height: 14px;
    }
    .ftr-2 p {
        text-align: left;
    }
    .ftr-3 p {
        text-align: left;
    }
    .ftr-2 li {
        width: 100%;
    }
    .ftr-2 li {
        width: 100% !important;
    }
    .ftr-2 p {
        padding-left: 0 !important;
    }
    .ftr-3 p {
        padding-left: 0 !important;
        padding-top: 10px;
    }
    .widget2 {
        border-bottom: 1px solid #ebd4c3;
        padding-bottom: 2px;
    }
    .widget2 p::after {
        font-family: 'FontAwesome';
        font-weight: 900;
        content: '\f077';
        position: absolute;
        font-size: 15px;
        right: 30px;
    }
    .widget2 p:active:after {
        content: '\f078';
    }
    /* .rotate {
        -moz-transition: all .5s linear;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
    }
    .rotate.down {
        -moz-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
    } */


    .widget2 ul {
        padding-left: 0 !important;
    }
  
	.footer-top {
		width: 90%;
		position: relative;
	}
	.footer-top h2 {
		text-align: center;
		font-family: 'Architects Daughter', cursive !important;
		font-size: 26px;
	}
	.our_work_sec .hd-txt p {
		width: 100%;
	}
	.ftr-1 img {
		width: auto;
		margin-top: -20px;
	}
	.ftr-1 p {
		margin-bottom: 20px;
		padding-top: 18px;
		line-height: 25px;
		font-family: 'Poppins', sans-serif;
		font-weight: 300;
	}
	.main-slide-bx h1 {
		font-size: 38px !important;
	}
	.widget2 ul {
        display: none;
    }

	.intro-about .hd-txt h2 {
		padding-top: 4px;
	}
	.bnr-form-ndiv {
		margin-top: 0;
		margin-left: 3px;
		height: 580px;
	}
	.head_top ul.dropdown-menu11, .head_top ul.dropdown-menu22 {
	    background-color: #da0c2f !important;
	    width: 100%;
	    position: relative;
	    top: 0;
	    z-index: 1;
	}
	.price-box-new {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
	}
	.writers-tab ul {
    flex-wrap: wrap;
    justify-content: center;
	}
	.writers-tab ul li {
	    width: 50%;
	}
	.writer-txt-tb {
	    padding: 25px 10px;
	}
	.writer-txt-tb h3 {
	    font-size: 12px;
	}
	.writer-txt-tb p {
	    font-size: 12px;
	}

	.writers-tab ul li:hover .writer-txt-tb, .writers-tab ul li.active .writer-txt-tb {
	    height: 190px;
	}

	.writier-tb-inr-img img {
	    margin: 0 auto;
	    display: table;
	}

	.writer-tb-inr-txt h2 {
	    font-size: 22px;
	    text-align: center;
	    margin-top: 20px;
	}

	.writer-tb-inr-txt p {
	    text-align: center;
	}

	ul.quick-info {
	}

	section.writer-inr-tb-sec {
	    overflow: hidden;
	}

	.experties.summary.box ul li {
	    width: 50%;
	}

	.experties.summary.box ul {
	    width: 90%;
	}

	.skills.summary.box ul li {
	    width: 50%;
	}

	.skills.summary.box ul {
	    width: 98%;
	}

	.writer-tb-inr-txt {
	    padding: 0;
	}

	.col-md-12.profile-inner-col {
	    padding: 0 20px;
	}
	.new-pr-bx-tb {
	    width: 100%;
	    margin: 0 auto;
	    padding: 50px 12px;
	    margin-bottom: 20px;
	}

	.price-txt-tb h2 {
	    font-size: 30px;
	}

	.new-pr-bx-tb .price-txt-tb p {
	    font-size: 16px;
	}

	.price-txt-tb h3 {
	    font-size: 30px;
	}

	.new-pr-bx-tb p {
	    height: auto;
	}

	.price-box-new .bnr-btn {
	    margin-top: 20px;
	}

	.form-page-main-div {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
	}
	.main-banner-sec .col-sm-12 {
    flex-wrap: wrap;
    justify-content: center;
	}
	.tel-em {
    display: flex;
    align-items: center;
    justify-content: center;
	padding-bottom: 20px;
	}
	a.get-btn.chatt {
    margin-right: 0;
	}

	.about-btn .get-btn.chatt {
	    margin-right: 0;
	}
	.main-banner-sec img {
	    margin: 0 auto;
	}

	.bnr-btn .get-btn {
	    font-size: 13px;
	    padding: 12px 20px;
	}

	.main-banner-sec {
	    padding: 28px 0;
	}

	.serv-bx-st {
	    text-align: center;
	    height: 258px;
	}

	.serv-bx-st img {
	    margin: 0 auto;
	}

	.serv-arrow-st {
	    left: 0;
	    right: 0;
	}

	.cta-vid-div {
	    position: relative;
	}

	.cta-sec-vid {
	    padding-bottom: 50px;
	    margin-bottom: 0;
	}

	.cta-new-sec h2 {
	    font-size: 35px;
	}

	.process-ul ul {
	    flex-wrap: wrap;
	    justify-content: center;
	}

	.process-ul ul li {
	    width: 46%;
	}

	.process-bx h4 {
	    text-align: center;
	    font-size: 12px;
	}

	.process-bx p {
	    text-align: center;
	}

	.process-bx {
	    padding: 20px 8px;
	    margin-top: 15px;
	}

	.proces-num {text-align: center;}

	.rating-list ul {
	    flex-wrap: wrap;
	    justify-content: center;
	}

	.rating-list li {
	    width: 50%;
	}

	.rating-div h2 {
	    font-size: 40px;
	}

	.rating-div {
	    margin-bottom: 15px;
	}

	.rating-sec-about {
	    padding-top: 50px;
	}

	.about-txt.hd-txt {
	    margin-top: 30px;
	}

	.tel-em a {
	    font-size: 15px;
	}

	.testi-div {
	    text-align: center;
		padding: 3px 20px;
	}

	.testi-slider-new .testi-div img {
	    text-align: center;
	    margin: 0 auto;
	    display: table;
	}

	.cl-logo-ul ul li {
	    width: 50%;
	    margin-top: 15px;
	}

	.cl-logo-ul ul {
	    flex-wrap: wrap;
	}

	.cta-txt h2 {
	    font-size: 26px;
	}

	.cta-txt img {
	    width: 100%;
	}

	.ftr-cta-txt {
	    width: 100%;
	}

	.ftr-cta-col {
	    width: 100%;
	}

	.ftr-cta-txt h2 {
	    font-size: 20px;
	}

	.ftr-cta-txt h4 {
	    font-size: 14px;
	}

	.vide-testi-sec {
	    padding-bottom: 25px;
	}

	.footer-icon {
	    justify-content: center;
	}

	.footer-pt .footer-icon a:last-child {
	    padding-right: 0;
	}
	.our-work.work-under-header .tab-wrap {
    
	}

	.our-work.work-under-header .tabs-custom {width: 44%;font-size: 11px;text-align: center;padding: 15px 3px;}

	.work-container.pricing-cnt-st {
	    flex-direction: column;
	}

	.work-container .pricing-box {
	    width: 100%;
	    margin: 0 !important;
	    margin-bottom: 20px !important;
	}

	.work-container a.btn-main-price {
	    padding: 7px 5px;
	}

	.our-work.work-under-header {
	    padding: 40px 0;
	}
	.contact-page-form .form-group .entry {
	    flex-direction: column;
	}

	.contact-page-form .form-group .entry label {
	    margin-bottom: 10px;
	}

	.contact-page-sec {
	    padding: 70px 0;
	    overflow: hidden;
	}

	.box-info-contact {
	    padding: 30px 10px;
	    text-align: center;
	}

	.box-info-contact ul {
	    text-align: left;
	}


	/*.dropdown11 a:hover ul.dropdown-menu11{
		d
	}*/

	.head_top ul.dropdown-menu11 li, .head_top ul.dropdown-menu22 li {
	    width: 100%;
	    float: left;
	    border-bottom: 1px solid #fff;
	    padding: 4px 0;
	    text-align: left;
	    padding: 5px 0 4px 25px;
	}


	.active_drop {
	    display: block !important;
	}

	.head_top {
	    padding: 25px 0% 0px;
	    position: relative;
		background-color: #fbf0e8;
	}
	.bnr-form-slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    right: inherit;
    display: flex;
 }
	.entry-box .text-1 h4 span.red {
    font-size: 20px;
    line-height: normal;
	}

	.entry-box .text-1 h4 {
	    font-size: 20px;
	}
	#entry-popup {
    top: 0;
	}
	a#entry-box_close {
    right: 0px;
    }

	.main-slide-bx {}

	.bnr-form-slider:before {
	    display: none;
	}

	.formheading h2 {
	    font-size: 20px;
	}

	.main-slide-bx h4 {
	    font-size: 14px;
	    margin-top: 12px;
	}

	.main-slide-bx p {
	    padding: 0;
	}
	.main-slide-bx h2 br {
    display: none;
	}
	
	.bnr-tb-icon {
	    margin-bottom: 30px;
	}

	.bnr-btn {
	    margin-bottom: 30px;
	}
	.main-slide-bx p:before {display: none;}
	.process-box {
    margin-bottom: 20px;
	}
	.head_top .navbar-toggle .icon-bar {
	    background-color: #fff;
	}
	.head_top .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -7px;
    margin-right: -5px;
    margin-bottom: 8px;
    background: #2136ff;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
 	}
	 img.logo {
		margin-left: 0;
	}
	.logo {
	    width: 110px;
	    margin: 0;
	}

	.btn-green.gre-bg {
	    display: none;
	}

	.call-action {
	    padding-right: 0;
	    text-align: center;
	    height: auto;
	    display: inline-block;
	    align-items: initial;
	    width: 100%;
	}

	.head-contact {
	    display: inline-flex;
	}

	.call-action span {
	    padding-right: 7px;
	    color: #fff;
	    font-size: 14px;
	    display: inline-block;
	    vertical-align: top;
	    line-height: normal;
	    padding-left: 7px;
	}

	.head-contact span i {
	    color: #da0c2f;
	    font-size: 17px;
	}

	.head_top .navbar-nav {
	    margin: 7.5px -15px 30px;
	}

	.head_top .navbar.navbar-defult ul li a {
		color: #fff;
		padding: 15px 17px 5px;
		font-size: 13px;
		text-transform: uppercase;
		transition: .3s;
		font-family: Montserrat,sans-serif;
		border-bottom: 1px solid #000;
		padding-bottom: 14px;
	}

	.head_top div#myNavbar {
	    float: none;
	    margin: 0 0px 0 0;
	    width: 100%;
		background: #000;
    	opacity: 0.7;
		overflow-x: hidden;
	}


	.why_choose_boxes:before {
    display: none;
	}

	.why_choose_box_img {
	    display: none;
	}

	.why_choose_boxes {
	    padding: 50px 0;
	}

	.about_main_360 {
	    height: auto;
	}

	.about_main_360_box {
	    width: 100%;
	    height: auto;
	    max-width: 100%;
	    padding: 20px;
	    position: relative;
	    bottom: 0;
	    right: 0;
	    min-height: auto;
	    text-align: center;
	    top: 0;
	}

	section.sec_client {
	    display: none;
	}

	.intro-about {
	    margin: 0px 0;
		padding: 25px 0 38px;
	}
	.serv-bx-st h4 {
		padding-top: 0px;
	}

	.hd-txt h2 {
	    font-size: 30px;
	    text-align: center;
		padding-top: 25px;
		padding-bottom: 0px !important;
	}
	.cta-sec-new {
		padding: 29px 0 50px 0;
		background: #32302e;
	}
	.hd-txt h2 br {
	    display: none;
	}
	.cl-logo-div {
		border-radius: 8px;
		padding: 8px 8px;
		margin: 0 10px;
	}

	.hd-txt p {
	    text-align: center;
	}

	.numb-ex h2 {
	    font-size: 50px;
	}

	.numb-ex h4 br {
	    display: none;
	}

	.numb-ex h4 {
	    font-size: 16px;
	    text-align: center;
	    margin-left: 20px;
	}

	.numb-ex {
	    justify-content: center;
	    text-align: center;
	    width: 100%;
	}

	.intro-sec-img img {
		width: 100%;
		margin-top: 10px;
		padding-top: 10px !important;
	}
	.tel-em span {
		font-size: 12px;
		font-weight: 300;
	}
	.serv-bx-st p {
		line-height: 19px;
	}
	section#pro-sec .process-main-col {
	    flex-wrap: wrap;
	}

	.process-sec {overflow: hidden;}

	.about_main_360 {
	    /* display: none; */
	    margin: 0;
	}

	.about_main_360_box p {
	    font-size: 14px;
	}

	.our_work_sec h2 {
	    font-size: 30px;
	    text-align: center;
	}

	.hd-txt h4 {
	    font-size: 30px;
	}

	.our_work_sec h2 br {
	    display: none;
	}

	.our_work_sec h2 span {
	    text-align: center;
	    margin: 0 auto;
	}

	.our_work_sec {padding: 50px 0;}

	.why_choose_boxes h2 {
	    text-align: center;
	    font-size: 30px;
	}

	.why_choose_slider_box {
	    text-align: center;
	}

	.why_choose_slider button.slick-next.slick-arrow {
	    left: 50% !important;
	}

	.why_choose_slider button.slick-prev.slick-arrow {
	    left: 35% !important;
	}

	.testi-box {
	    flex-direction: column;
	}

	.testi-txt {
	    width: 100%;
	    padding: 0 20px;
	    text-align: center;
	}

	.testi-img {
	    display: table;
	    text-align: center;
	    margin: 0 auto;
	    text-align: center;
	    align-items: center;
	}

	.testi-txt div {
	    justify-content: center;
	}

	.brnd-cl-logo li {
	    width: 45%;
	    margin: 0 8px 8px;
	    min-height: 150px;
	}

	.cta-sec {
	    padding: 50px 0;
	}

	.cta-txt {
	    text-align: center;
	}

	.career {
	    font-size: 12px;
	    letter-spacing: 0;
	}

	.cta-btn-st {
	    margin: 0 auto;
	    display: table;
	}

	.career.chatt {
	    margin-top: 15px;
	}

	.footer-sec {
	    padding: 60px 0 26px;
	    text-align: center;
	}

	.footer-sec .contact-footer {flex-wrap: wrap;justify-content: center;}

	.contact-footer a:first-child {
	}

	.contact-footer a {
	    padding: 0 18px;
	}

	.footer-sec a, .footer-sec p {
	    font-size: 12px;
	}

	.ftr-2 p {
	    font-size: 15px;
	    margin-top: 10px;
	}

	.ftr-3 p {
	    font-size: 15px;
	}

	.ftr-2 ul {
	    float: left;
	    /* clear: both; */
	    width: 100%;
	}

	.cta-sec h3 {
    font-size: 16px;
	}
	.cta-sec h3 {
    font-size: 16px;
	}

	.main-slide-bx h2 {
	    font-size: 30px;
	    line-height: normal;
	}

	.main-slide-bx {
	    padding-left: 0;
	    height: auto;
	    text-align: center;
	}

	.bnr-btn a {
	    margin-top: 6px;
		margin-right: 6px;
	}
	.bnr-btn .get-btn {
		font-size: 12px !important;
		padding: 12px 6px !important;
	}

	.bnr-btn {
	    text-align: center;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}

	.main-banner-sec .slick-dots {
    bottom: 0;
	}

	.main-slide-3 h2, .main-slide-3 p, .main-slide-3 h4, .main-slide-2 h2, .main-slide-2 p, .main-slide-2 h4 {
	    color: #fff;
	}

	.wow {
	    animation-name: none !important;
	    visibility: visible !important;
	}
	.testi-page-sec {
    padding-top: 50px;
	}
	.brnd-cl-logo li img {
    width: 90%;
	}

	.logo-box-brand {
	}

	.brand-client {
	    padding: 50px 0;
	}

	span.title-sub {
	    text-align: center;
	    margin: 0 auto 5px;
	}


		/*	news page*/


	section.banner-news {
    padding: 50px 0px;
    height: auto;
}
.banner-main {
    padding-top: 0px;
}
section.service-sec {
    padding: 50px 0px;
    text-align: center;
}
img.pic-box {
    padding-left: 0px;
    width: 75%;
}
.text-box h2 {
    font-size: 18px;
    padding-top: 30px;
}
.service-main {
    display: block;
    align-items: center;
}
.service-main h4 {
    padding-top: 16px;
}
section.service-sec {
    padding: 30px 0px 20px 0;

}
.sirvice-bottom .row {
    padding-bottom: 20px;
}

	/*	news page*/

}
.news-serv-sec2 .img-box:before, .news-serv-sec .img-box:before{
	display: none;
}
.news-serv-sec .service-main h4{
	text-align: center;
}
.news-serv-sec2 .service-main img.pic-box {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}
}